.container{
  text-align: center;
}
.magic-circle{
  transition: 3s;
  width: 400px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6e6b6b;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(175, 175, 250);
}